version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:8080"  # Tarayıcıda 80 (varsayılan), içerde 8080
    environment:
      - PORT=8080
    depends_on:
      - redis

  redis:
    image: redis:alpine # Hafif Redis versiyonu