name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
  # deploy.yml dosyasındaki ADIMLAR (steps) kısmı:

  steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          
      - name: Install Railway CLI
        run: npm install -g @railway/cli 
        
      - name: Railway CLI Login (Token'ı tanıtıyoruz) 
        run: railway login --token ${{ secrets.RAILWAY_TOKEN }}
        
      - name: Deploy to Railway
        # --token parametresine artık gerek yok, çünkü zaten login olduk.
        run: railway up --service ferhat-backend