name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          
      - name: Deploy to Railway
        # En stabil sürümü kullanıyoruz: master branch'i
        uses: railwayapp/cli@master 
        with:
          # Railway API Token'ı (Gizli tutulmalı)
          token: ${{ secrets.RAILWAY_TOKEN }} 
          # Deploy edilecek servis adı
          service: ferhat-backend