name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          
      - name: Install Railway CLI # İLK ÇİZGİ BURADA
        run: npm install -g @railway/cli 

      - name: Deploy to Railway # İKİNCİ ÇİZGİ BURADA
        run: railway up --service ferhat-backend --token ${{ secrets.RAILWAY_TOKEN }}